body {
	background: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
	align-content: right;
    padding-right: 5px;
    padding-top: 2px;
}
.postcard-header h1 {
	width: 400px;
	margin: 0px;
    padding-left: 2px;
    padding-top: 2px;
}

.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: none;
}
.body-left,
.body-right {
	padding: 5px;
}
p{
    margin-left: 5px;
    font-size: small;
}

input {
    border-bottom-color: grey;
    border-bottom-width: thin;
    border-top: none;
    border-left: none;
    border-right: none;
}
.postcard-footer {
    margin-top: 10px;
	text-align: center;
}
button {
	background-color: darkgray;
	padding: 10px;
    width: 200px;
    height: 50px;
}
.body-right{
    margin-top: 10px;
}
form{
    padding-right: 5px;
}
